@import '../../index.scss';

.ticketFilter {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px 0 10px 0;
  min-width: 300px;
  max-width: 500px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: #4a4a4a;

  @media (min-width: 768px) {
    min-width: 180px;
    max-width: 180px;
  }

  @media (min-width: 960px) {
    min-width: 232px;
  }

  &__header {
    display: inline-block;
    margin: 0 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.3px;

    @media (min-width: 768px) {
      font-size: 14px;
      line-height: 16px;
    }

    @media (min-width: 960px) {
      line-height: 12px;
    }
  }

  &__item {
    height: 40px;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    @include cursor;

    &:hover {
      transition: 0.3s;
      background-color: #e7f9ff;
    }
  }

  &__label {
    display: block;
    padding: 10px 0 10px 50px;
    position: relative;
    font-size: 14px;
    @include cursor;

    @media (min-width: 768px) {
      font-size: 13px;
    }

    &::before {
      content: '';
      position: absolute;
      left: 20px;
      top: 10px;
      width: 20px;
      height: 20px;
      box-shadow: 0 0 0 1px #9abbce;
      border-radius: 2px;
      @include cursor;
    }
  }

  &__input {
    position: absolute;
    appearance: none;
  }

  &__input:checked + &__label::before {
    box-shadow: 0 0 0 1px #2196f3;
    background: url('../../assets/img/check.svg') no-repeat 50% 50%;
  }
}
