.ticketItem {
  &__segment {
    display: flex;
    column-gap: 12px;

    @media (min-width: 360px) {
      column-gap: 25px;
    }

    @media (min-width: 400px) {
      column-gap: 40px;
    }

    @media (min-width: 440px) {
      column-gap: 60px;
    }

    @media (min-width: 480px) {
      column-gap: 75px;
    }

    @media (min-width: 768px) {
      column-gap: 75px;
    }
  }

  &__length {
    display: flex;
    width: 56px;
    flex-direction: column;
    flex-shrink: 0;
  }

  &__route {
    width: 84px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }

  &__stops {
    margin-left: auto;
    width: 107px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    @media (min-width: 480px) {
      margin-left: 30px;
    }
  }

  &__text {
    display: inline-block;
  }

  &__text__upper {
    text-transform: uppercase;
    color: #a0b0b9;
    line-height: 18px;
    letter-spacing: 0.5px;
  }

  &__text__lower {
    color: #4a4a4a;
    font-size: 14px;
    line-height: 21px;
  }
}
